link rel="stylesheet" href="#{url('/css/reader.css')}" media="screen"

input type="hidden" id="reader-source-url" name="reader-source-url" value="#{path_uri(settings.library['remote'] && settings.library['path'], book_download_uri(book, format), settings.library['secure_remote'])}"

div#prev.arrow
  i.fa.fa-fw.fa-chevron-left

div#display.book-display.book-cover-frame

div#next.arrow
  i.fa.fa-fw.fa-chevron-right

script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"
script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"
script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"
script src="https://cdn.jsdelivr.net/npm/epubjs@0.4.2/dist/epub.min.js" integrity="sha256-MK86MP5j4YN3iNHe0VuN9EhtJyHLKsK7KNCKFNb25/U=" crossorigin="anonymous"
script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.3.0/jszip.min.js" integreity="sha386-a33c5366c1e3bf34cfed1cd8265803f4d08739b1d69bb79d5be7a9b74c61813bc89c4dc9755166d2209fc0d86945b502" crossorigin="anonymous"
script src="#{url('/js/reader.js')}"
