
body {
    background: #f2f2f2;
}

a {
    color: #45b29d;
    text-decoration: none;
}

a:hover {
    color:#444;
}

.navbar-brand {
    font-size: 1.5rem;
    text-align: center;
}

.navbar-light {
    background-color: #45b29d;
}

.navbar-light .navbar-nav .nav-link {
    color:#444;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #000;
}

.pagy-bootstrap-nav > .pagination {
    justify-content: center;
}

.book-author-list {
    display: inline;
    list-style: none;
    padding: 0;
    margin: 0;
}

.book-author-list-item {
    display: inline;
}

.book-author-list-item + .book-author-list-item:before {
    content: ", ";
}

.book-author-list-item {
    content: ", ";
}

.book-cover-frame {
    border: 1px solid #fff;
    -webkit-box-shadow: 0 5px 8px -6px #777;
    -moz-box-shadow: 0 5px 8px -6px #777;
    box-shadow: 0 5px 8px -6px #777;
}

.book-list-cover-frame {
    max-height: 14rem;
    max-width: 14rem;
}

.page-link {
    color: #45b29d;
}

.page-link:hover {
    color: #444;
}

.page-item.active .page-link,
.page-item.active .page-link:focus,
.page-item.active .page-link:hover,
.btn-info {
    background-color: #2b9a83;
    border-color: #2b9a83;
    color: #fff;
}

.btn-info:hover {
    background-color: #3e8274;
    border-color: #3e8274;
    cursor: pointer;
}

.card-img-top,
.card-img-left {
    background-color: #e3e4e6;
    overflow: hidden;
}

.card-img-left {
    height: 14rem;
    width: 14rem;
}

@media (max-width: 576px) {
    .card-img-left {
        width: 100%;
    }
}

.book-card-list-body {
    height: 14rem;
}

.book-list-card-comment {
    overflow: hidden;
    overflow-y: scroll;
    height: auto;
}

.book-list-card + .book-list-card {
    margin-top: 1rem;
}

.accordion-button:not(.collapsed) {
    background-color: rgba(69, 178, 157, 0.25);
    color:#444;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(180deg);
}
