<% book.formats.select do |format|
  settings.mimetypes[format.format.downcase]
end.each do |format| %>
<a class="btn btn-info" href="<%= path_uri(settings.library['remote'] && settings.library['path'], book_download_uri(book, format)) %>"><%= format.format.upcase %></a>
<% end %>
