<% authors.each do |a| %>
<article class="author-group">
  <header>
    <h3><a href="<%= url("/authors/#{a.id}") %>"><%= a.name %></a></h3>
  </header>
  <ul>
    <% a.books.each do |book| %>
    <li>
      <a href="<%= url("/books/#{book.id}") %>">
        <%= book.title %>
      </a>
    </li>
    <% end %>
  </ul>
</article>
<% end %>
