<div class="book-container">
<% books.each do | book | %>
<%= erb(:"_partials/book_small", {}, { book: book }) %>
<% end %>
<footer class="book-footer">
  <%= erb(:"_partials/pagination", {}, {
      data: books,
      count: num_books,
      offset: offset,
      limit: limit,
  }) %>
</footer>
</div>
