<header>
  <h3 class="latest-additions-header text-center text-md-left">
    Latest Additions
  </h3>
</header>
<div class=row>
  <% books.each do |book| %>
  <%= erb(:"_partials/book_card", locals: { book: book }) %>
  <% end %>
</div>
<footer>
</footer>
